


<!-- TOP BAR -->
<div class="bg-dark text-white py-2 d-none d-lg-block border-bottom border-success border-2">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="small fw-light">
            <span class="me-4"><i class="fas fa-map-marker-alt text-success me-1"></i> New Delhi, INDIA</span>
            <span class="me-4"><i class="fas fa-phone-alt text-success me-1"></i> +91 888 2184131</span>
            <span><i class="fas fa-envelope text-success me-1"></i> info@eagleeyearchery.com</span>
        </div>
        <div class="d-flex align-items-center">
            <div class="social-top me-3">
                <a href="#" class="text-white me-2 hover-green"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white hover-green"><i class="fab fa-instagram"></i></a>
            </div>
            <a href="#" class="btn btn-success btn-xs fw-bold me-2 px-3 rounded-0 border-0">CREATE ACCOUNT</a>
            <a href="#" class="btn btn-warning btn-xs fw-bold px-3 rounded-0 border-0 text-dark">SIGN IN</a>
        </div>
    </div>
</div>

<!-- MAIN NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm py-2">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="assets/images/logo/eagle-eye-logo.png" alt="Logo" class="nav-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#eeNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="eeNav">
            <ul class="navbar-nav ms-auto fw-bold text-uppercase align-items-center">
                <li class="nav-item"><a class="nav-link px-3 hvr-underline" href="index.html">Home</a></li>
                                <li class="nav-item"><a class="nav-link px-3 hvr-underline" href="services.html">Services</a></li>
                <li class="nav-item dropdown custom-dropdown">
                    <a class="nav-link dropdown-toggle px-3 hvr-underline" href="#" data-bs-toggle="dropdown">Catalog</a>
                    <ul class="dropdown-menu border-0 shadow-lg animate slideIn">
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" href="#">Bows</a>
                            <ul class="dropdown-menu border-0 shadow">
                                <li><a class="dropdown-item" href="catalog/compound.html">Compound</a></li>
                                <li><a class="dropdown-item" href="catalog/recurve.html">Recurve</a></li>
                            </ul>
                        </li>
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" href="#">Arrows</a>
                            <ul class="dropdown-menu border-0 shadow">
                                <li><a class="dropdown-item" href="catalog/shafts.html">Shaft</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">Fletched Arrows</a></li>
                                <li><a class="dropdown-item" href="catalog/shafts.html">Nocks</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">Vanes</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">Points</a></li>
                                <li><a class="dropdown-item" href="catalog/shafts.html">Pins</a></li>
                              
                            </ul>
                          
                        </li>
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" href="#">ACCESSORIES for Archers</a>
                            <ul class="dropdown-menu border-0 shadow">
                                <li><a class="dropdown-item" href="catalog/shafts.html">Quivers</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">Releases</a></li>
                                <li><a class="dropdown-item" href="catalog/shafts.html">TAB</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">Wrench</a></li>
                                 <li><a class="dropdown-item" href="catalog/shafts.html">Arrow puller</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">T-Square</a></li>
                                <li><a class="dropdown-item" href="catalog/shafts.html">Chest Guards</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">Arm Guards</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">Caps and Shirts</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">More Stuff</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">Optics</a></li>
                            </ul>
                        </li>

                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" href="#">ACCESSORIES for Bows</a>
                            <ul class="dropdown-menu border-0 shadow">
                                <li><a class="dropdown-item" href="catalog/shafts.html">Scope</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">Peep</a></li>
                                <li><a class="dropdown-item" href="catalog/shafts.html">Plunger</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">Strings</a></li>
                                <li><a class="dropdown-item" href="catalog/shafts.html">Sights</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">Stabilizer</a></li>
                                <li><a class="dropdown-item" href="catalog/shafts.html">Rest</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">Wrist Sling</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">More Stuff</a></li>
                            </ul>
                        </li>


                         <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" href="#">CASES</a>
                            <ul class="dropdown-menu border-0 shadow">
                                <li><a class="dropdown-item" href="catalog/shafts.html">Compound</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">Recurve</a></li>
                            </ul>
                        </li>


                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" href="#">TARGETS</a>
                            <ul class="dropdown-menu border-0 shadow">
                                <li><a class="dropdown-item" href="catalog/shafts.html">Shafts</a></li>
                                <li><a class="dropdown-item" href="catalog/nocks.html">Nocks & Vanes</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </li>


                 <li class="nav-item dropdown custom-dropdown">
                    <a class="nav-link dropdown-toggle px-3 hvr-underline" href="../contact-us.html" data-bs-toggle="dropdown">Contacts</a>
                    <ul class="dropdown-menu border-0 shadow-lg animate slideIn">
                        
                        
                        <li><a class="dropdown-item" href="catalog/accessories.html">Request info</a></li>
                        <li><a class="dropdown-item" href="catalog/accessories.html">Where we are</a></li>
                        <li><a class="dropdown-item" href="catalog/accessories.html">Shipping type</a></li>
                       
                    </ul>
                </li>
                 <li class="nav-item dropdown custom-dropdown">
                    <a class="nav-link dropdown-toggle px-3 hvr-underline" href="#" data-bs-toggle="dropdown">Helps</a>
                    <ul class="dropdown-menu border-0 shadow-lg animate slideIn">
                        
                        
                        <li><a class="dropdown-item" href="catalog/accessories.html">1 - create account</a></li>
                        <li><a class="dropdown-item" href="catalog/accessories.html">2 - login to your account</a></li>
                        <li><a class="dropdown-item" href="catalog/accessories.html">3 - open CATALOG</a></li>
                        <li><a class="dropdown-item" href="catalog/accessories.html">4 - select the product</a></li>
                        <li><a class="dropdown-item" href="catalog/accessories.html">5 - add to cart</a></li>
                        <li><a class="dropdown-item" href="catalog/accessories.html">6 - checkout the order</a></li>
                        <li><a class="dropdown-item" href="catalog/accessories.html">7 - wait for your order</a></li>
                    </ul>
                </li>
                 <li class="nav-item"><a class="nav-link px-3 hvr-underline" href="services.html">Pro Shooters</a></li>
               
                <li class="nav-item ms-lg-3 d-flex align-items-center">
    <form class="search-bar" action="catalog.aspx" method="GET">
        <input type="text" name="q" placeholder="Search products..." aria-label="Search">
        <button type="submit">
            <i class="fas fa-search text-dark"></i>
        </button>
    </form>
</li>
            </ul>
        </div>
    </div>
</nav>